@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: "Ubuntu",sans-serif;
}

body{
    min-height: 100vh;
    background-color: rgb(36, 1, 92);
    display: flex;
    justify-content: center;
    position: relative;
}
.container{
    margin-top: 90px;
    width:80%;
    height: fit-content;
    background-color: #faf4f4dc;
}
.top{
    width:100%;
    height:27px;
    background-color:rgb(78, 8, 192);
    display: flex;
    padding: 10px;
}
.d1{
    flex: 1;
    color:#fff;
    display: flex;
    justify-content: center;
    align-items: center;
}
.d2{
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .3s ease;
    user-select: none;
}
.d2 button{
    width:21px;
    height: 21px;
    border-radius: 50%;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color:rgb(108, 6, 224);
}
.d2:hover{
    opacity: 0.7;
}
.body{
    padding: 15px;
}
.element1{
    height:50px;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 10px;
    border-bottom: solid 1px black;
    transition: all .3s ease;
}
.element1:hover{
    box-shadow: 0px 0px 10px grey;
}
.e1{
    margin-left: 20px;
    width:200px;
    display: flex;
    justify-content: space-around;
    flex-shrink: 1;
}
.e1 button{
    width:30px;
    height: 30px;
    border-radius: 50%;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    user-select: none;
}
.btn1{
    background-color: rgb(63, 109, 235);
    font-size: 10px;
}
.e1 button:hover{
    opacity: 0.7;
}
.btn2{
    background-color: green;
}
.btn3{
    background-color: rgb(138, 4, 4);
}
.e2{
    text-align: center;
    line-height: 18px;
}
.t1{
    font-size: 15px;
    font-weight: bold;
}
.t2{
    font-size: 9px;
}
.date{
    display:flex;
    justify-content: flex-end;
    gap:3px;
}
.test{
    width:300px;
    height:110px;
    background-color:rgba(39, 38, 38, 0.993);
    border-radius: 5px;
    display: none;
    position: absolute;
    color:#cfcbcb;
    font-size: 10px;
    padding: 10px;
}
.header{
    margin-bottom: 10px;
    font-weight: bold;
}
.input{
    display: flex;
    flex-direction: column;
    gap: 7px;
    margin-bottom: 15px;
}
input{
    background-color: transparent;
    border: solid 1.9px rgb(87, 147, 238);
    border-radius: 3px;
    outline:none;
    color:#fff;
    height:20px;
    padding: 5px 5px;
    font-size: 10px;
}
.foot{
    display: flex;
    justify-content: end;
    align-items: center;
    gap:4px;
}
.foot button{
    font-size: 10px;
    font-weight: bold;
}
#cancel{
    background-color: transparent;
    border: solid 1px rgba(255, 255, 255, 0.1);
    color:rgb(115, 163, 236);
    width:50px;
    height: 20px;
    border-radius: 2px;
    transition: all .3s ease;
}
#valid{
    width:50px;
    height: 20px;
    border-radius: 2px;
    border: none;
    background-color: rgb(115, 163, 236);
    color:rgba(39, 38, 38, 0.993);
    transition: all .3s ease;
}
#valid:hover{
    opacity: 0.7;
}
#cancel:hover{
    color:rgba(39, 38, 38, 0.993);
    background-color:red;
}